Repository gentoo-mirror/racket-overlay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  stage: test
  image: registry.gitlab.com/src_prepare/gentoo-repoman-container:latest
  before_script:
  - emerge --version ; pkgcheck --version
  script:
  - make test

pages:
  stage: pages
  artifacts:
    expire_in: 1 week
    paths:
    - public
  image: racket/racket:8.2-full
  before_script:
  - apt-get update
  - apt-get install -y make sqlite3
  script:
  - make doc

2022-03-25 20:10:04 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

.gitlab-ci.yml: GPL-2.0
  .gitlab-ci.yml
Due: test, pages

2022-04-02 16:36:46 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-04-02 19:20:36 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-04-07 10:05:52 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-04-08 18:20:36 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-04-08 21:35:31 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-04-11 20:05:35 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-04-11 22:35:22 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

Quirks.md: add net-cookies and quickscript
  Quirks.md
Due: none

dev-racket/qi-probe: regen manifest
  dev-racket/qi-probe/Manifest
Due: test

Quirks.md: update
  Quirks.md
Due: none

dev-racket: regen manifests
  dev-racket/distro-build-client/Manifest
  dev-racket/distro-build-doc/Manifest
  dev-racket/distro-build-lib/Manifest
  dev-racket/distro-build-server/Manifest
  dev-racket/distro-build-test/Manifest
  dev-racket/distro-build/Manifest
  dev-racket/in-out-logged/Manifest
  dev-racket/qi-doc/Manifest
  dev-racket/qi-lib/Manifest
  dev-racket/qi-test/Manifest
  dev-racket/qi/Manifest
  dev-racket/racketscript-compiler/Manifest
  dev-racket/racketscript-doc/Manifest
  dev-racket/racketscript-extras/Manifest
  dev-racket/racketscript/Manifest
Due: test

dev-racket: fix deps
  dev-racket/http-easy-test/http-easy-test-2022.01.30.ebuild
  dev-racket/http-easy-test/http-easy-test-2022.02.11.ebuild
  dev-racket/http-easy/http-easy-2022.01.30.ebuild
  dev-racket/http-easy/http-easy-2022.02.11.ebuild
  dev-racket/http123-lib/http123-lib-2021.07.22.ebuild
  dev-racket/http123-lib/http123-lib-2021.11.01.ebuild
  dev-racket/http123/http123-2021.07.22.ebuild
  dev-racket/http123/http123-2021.11.01.ebuild
  dev-racket/net-cookies-test/Manifest
  dev-racket/net-cookies-test/metadata.xml
  dev-racket/net-cookies-test/net-cookies-test-2019.11.07.ebuild
  dev-racket/net-cookies-test/net-cookies-test-2021.10.10.ebuild
  dev-racket/net-cookies-test/net-cookies-test-9999.ebuild
  dev-racket/qi-quickscripts/qi-quickscripts-2021.11.17.ebuild
  dev-racket/qi-quickscripts/qi-quickscripts-2022.02.14.ebuild
  dev-racket/quickscript-competition2020/quickscript-competition2020-2021.02.01.ebuild
  dev-racket/quickscript-competition2020/quickscript-competition2020-2021.10.31.ebuild
  dev-racket/quickscript-extra/quickscript-extra-2021.11.10.ebuild
  dev-racket/quickscript-extra/quickscript-extra-2021.12.11.ebuild
  dev-racket/quickscript-test/quickscript-test-2021.07.30.ebuild
  dev-racket/riposte/riposte-2021.02.11.ebuild
Due: test

2022-04-15 21:19:44 UTC
  metadata/md5-cache/dev-racket/http-easy-2022.01.30
  metadata/md5-cache/dev-racket/http-easy-2022.02.11
  metadata/md5-cache/dev-racket/http-easy-test-2022.01.30
  metadata/md5-cache/dev-racket/http-easy-test-2022.02.11
  metadata/md5-cache/dev-racket/http123-2021.07.22
  metadata/md5-cache/dev-racket/http123-2021.11.01
  metadata/md5-cache/dev-racket/http123-lib-2021.07.22
  metadata/md5-cache/dev-racket/http123-lib-2021.11.01
  metadata/md5-cache/dev-racket/net-cookies-test-2019.11.07
  metadata/md5-cache/dev-racket/net-cookies-test-2021.10.10
  metadata/md5-cache/dev-racket/net-cookies-test-9999
  metadata/md5-cache/dev-racket/qi-quickscripts-2021.11.17
  metadata/md5-cache/dev-racket/qi-quickscripts-2022.02.14
  metadata/md5-cache/dev-racket/quickscript-competition2020-2021.02.01
  metadata/md5-cache/dev-racket/quickscript-competition2020-2021.10.31
  metadata/md5-cache/dev-racket/quickscript-extra-2021.11.10
  metadata/md5-cache/dev-racket/quickscript-extra-2021.12.11
  metadata/md5-cache/dev-racket/quickscript-test-2021.07.30
  metadata/md5-cache/dev-racket/riposte-2021.02.11
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

2022-04-21 15:40:57 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-04-21 17:25:05 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-04-25 12:19:39 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

dev-racket/graphics: regenerate Manifest
  dev-racket/graphics/Manifest
Due: test

dev-racket/graphics: bug in the matrix
  dev-racket/graphics/Manifest
Due: test

2022-05-09 20:52:35 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-05-11 16:50:56 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

Makefile: add egencache & clean-metadata-cache rules
  Makefile
Due: none

eclass/racket.eclass: move common functions to eclass/racket-common.eclass
  eclass/racket-common.eclass
  eclass/racket.eclass
Due: none

Path conditions:
  test: any of: .gitlab-ci.yml, */*/*.ebuild, */*/Manifest, */*/metadata.xml
  pages: any of: .gitlab-ci.yml, scribblings/*.scrbl, scribblings/*/*.scrbl
