Repository gentoo-mirror/racket-overlay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  stage: test
  image: registry.gitlab.com/src_prepare/gentoo-repoman-container:latest
  before_script:
  - emerge --version ; pkgcheck --version
  script:
  - make test

pages:
  stage: pages
  artifacts:
    expire_in: 1 week
    paths:
    - public
  image: racket/racket:8.2-full
  before_script:
  - apt-get update
  - apt-get install -y make sqlite3
  script:
  - make doc

eclass/gh.eclass: add git.matthewbutterick.com
  eclass/gh.eclass
Due: none

sys-apps/racket-maints: bump python compat to 3.11; minor tweaks
  sys-apps/racket-maints/racket-maints-1.1.0-r1.ebuild
  sys-apps/racket-maints/racket-maints-9999.ebuild
Due: test

dev-racket: autoupdate
  dev-racket/anarki/Manifest
  dev-racket/anarki/anarki-2022.07.22.ebuild
  dev-racket/andlet/metadata.xml
  dev-racket/anu-web-quantum-rng/metadata.xml
  dev-racket/crc32c/metadata.xml
  dev-racket/decentralized-internet/Manifest
  dev-racket/decentralized-internet/decentralized-internet-2022.07.22.ebuild
  dev-racket/derp3/metadata.xml
  dev-racket/graphic-block/Manifest
  dev-racket/graphic-block/graphic-block-2022.07.20.ebuild
  dev-racket/htdp-trace/Manifest
  dev-racket/htdp-trace/htdp-trace-2022.07.18.ebuild
  dev-racket/pollen/Manifest
  dev-racket/pollen/pollen-2022.06.27.ebuild
  dev-racket/request/Manifest
  dev-racket/request/request-2022.07.22.ebuild
  dev-racket/ricoeur-kernel/metadata.xml
  dev-racket/sauron/Manifest
  dev-racket/sauron/sauron-2022.07.22.ebuild
  dev-racket/simple-matrix/metadata.xml
  dev-racket/simple-polynomial/metadata.xml
  dev-racket/syndicate/Manifest
  dev-racket/syndicate/syndicate-2022.05.26.ebuild
  dev-racket/typed-compose/Manifest
  dev-racket/typed-compose/typed-compose-2021.09.30.ebuild
  dev-racket/typed-graph/Manifest
  dev-racket/typed-graph/typed-graph-2022.01.05.ebuild
  dev-racket/uwaterloo-racket-tools/Manifest
  dev-racket/uwaterloo-racket-tools/uwaterloo-racket-tools-2022.07.16.ebuild
  dev-racket/web-sessions/metadata.xml
Due: test

2022-07-22 11:01:38 UTC
  metadata/md5-cache/dev-racket/anarki-2022.07.22
  metadata/md5-cache/dev-racket/decentralized-internet-2022.07.22
  metadata/md5-cache/dev-racket/graphic-block-2022.07.20
  metadata/md5-cache/dev-racket/htdp-trace-2022.07.18
  metadata/md5-cache/dev-racket/pollen-2022.06.27
  metadata/md5-cache/dev-racket/request-2022.07.22
  metadata/md5-cache/dev-racket/sauron-2022.07.22
  metadata/md5-cache/dev-racket/syndicate-2022.05.26
  metadata/md5-cache/dev-racket/typed-compose-2021.09.30
  metadata/md5-cache/dev-racket/typed-graph-2022.01.05
  metadata/md5-cache/dev-racket/uwaterloo-racket-tools-2022.07.16
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

2022-07-24 18:03:46 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

app-emacs/racket-fmt-format: new package; add version 2022.06.30
  app-emacs/racket-fmt-format/Manifest
  app-emacs/racket-fmt-format/files/50racket-fmt-format-gentoo.el
  app-emacs/racket-fmt-format/metadata.xml
  app-emacs/racket-fmt-format/racket-fmt-format-2022.06.30.ebuild
  app-emacs/racket-fmt-format/racket-fmt-format-9999.ebuild
Due: test

2022-07-25 03:17:20 UTC
  metadata/md5-cache/app-emacs/racket-fmt-format-2022.06.30
  metadata/md5-cache/app-emacs/racket-fmt-format-9999
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

2022-07-26 06:47:15 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

eclass/gh.eclass: shorter if; minor docs tweaks
  eclass/gh.eclass
Due: none

app-emacs/racket-fmt-format: bump to 2022.07.27
  app-emacs/racket-fmt-format/Manifest
  app-emacs/racket-fmt-format/racket-fmt-format-2022.07.27.ebuild
Due: test

2022-08-02 04:17:50 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

scribblings/users.scrbl: reccomend safe job settings
  README.md
  scribblings/users.scrbl
Due: pages

eclass/gh.eclass: gitea bug fix
  dev-racket/describe/describe-2021.05.18.ebuild
  eclass/gh.eclass
Due: test

eclass/gh.eclass: add git.syndicate-lang.org to gitea_new
  eclass/gh.eclass
Due: none

.gitlab-ci.yml: fix doc build
  .gitlab-ci.yml
  Makefile
Due: test, pages

dev-racket/syndicate: special build dir
  dev-racket/syndicate/syndicate-2022.05.26.ebuild
Due: test

dev-racket/describe: fix manifest; resolve the gitea bug
  dev-racket/describe/Manifest
  dev-racket/describe/describe-2021.05.18.ebuild
Due: test

Revert "eclass/gh.eclass: add git.syndicate-lang.org to gitea_new"
  eclass/gh.eclass
Due: none

Revert "eclass/gh.eclass: gitea bug fix"
  eclass/gh.eclass
Due: none

2022-08-08 10:46:49 UTC
  metadata/md5-cache/dev-racket/anarki-2022.08.05
  metadata/md5-cache/dev-racket/csp-2022.08.06
  metadata/md5-cache/dev-racket/ebuild-2022.08.06
  metadata/md5-cache/dev-racket/ebuild-doc-2022.08.06
  metadata/md5-cache/dev-racket/ebuild-lib-2022.08.06
  metadata/md5-cache/dev-racket/ebuild-templates-2022.08.06
  metadata/md5-cache/dev-racket/ebuild-test-2022.07.25
  metadata/md5-cache/dev-racket/ebuild-test-2022.08.06
  metadata/md5-cache/dev-racket/ebuild-tools-2022.08.06
  metadata/md5-cache/dev-racket/ebuild-transformers-2022.08.06
  metadata/md5-cache/dev-racket/fontland-2022.08.06
  metadata/md5-cache/dev-racket/generic-bind-2022.08.07
  metadata/md5-cache/dev-racket/handy-2022.08.06
  metadata/md5-cache/dev-racket/hyphenate-2022.08.06
  metadata/md5-cache/dev-racket/pitfall-2022.08.06
  metadata/md5-cache/dev-racket/plt-services-2022.08.07
  metadata/md5-cache/dev-racket/pollen-2022.08.05
  metadata/md5-cache/dev-racket/qi-2022.08.06
  metadata/md5-cache/dev-racket/qi-doc-2022.07.21
  metadata/md5-cache/dev-racket/qi-doc-2022.08.06
  metadata/md5-cache/dev-racket/qi-lib-2022.08.06
  metadata/md5-cache/dev-racket/qi-probe-2022.08.06
  metadata/md5-cache/dev-racket/qi-test-2022.08.06
  metadata/md5-cache/dev-racket/racket-build-guide-2022.08.07
  metadata/md5-cache/dev-racket/racket-lang-org-2022.08.05
  metadata/md5-cache/dev-racket/sauron-2022.08.06
  metadata/md5-cache/dev-racket/scapegoat-tree-2022.08.05
  metadata/md5-cache/dev-racket/scheme-plus-for-racket-2022.03.23
  metadata/md5-cache/dev-racket/scheme-plus-for-racket-2022.08.06
  metadata/md5-cache/dev-racket/syndicate-2022.05.26
  metadata/md5-cache/dev-racket/xenomorph-2022.06.07
  metadata/md5-cache/dev-racket/xenomorph-2022.08.06
  metadata/md5-cache/dev-racket/zuo-doc-2022.08.07
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

eclass/racket.eclass: remove racket_fix_collection
  eclass/racket.eclass
Due: none

eclass/racket.eclass: properly regenerate the doc index
  eclass/racket.eclass
Due: none

.gitlab-ci.yml: update changes rules
  .gitlab-ci.yml
Due: test, pages

Path conditions:
  test: any of: .gitlab-ci.yml, */*/*.ebuild, */*/Manifest, */*/metadata.xml
  pages: any of: .gitlab-ci.yml, scribblings/*.scrbl, scribblings/*/*.scrbl
