Repository gentoo-mirror/racket-overlay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  stage: test
  image: registry.gitlab.com/src_prepare/gentoo-repoman-container:latest
  before_script:
  - pkgcheck --version
  script:
  - make test

pages:
  stage: pages
  artifacts:
    expire_in: 1 week
    paths:
    - public
  image: racket/racket:8.6-full
  before_script:
  - apt-get update
  - apt-get install -y make sqlite3
  script:
  - make public

dev-racket/txexpr: drop old
  dev-racket/txexpr/Manifest
  dev-racket/txexpr/txexpr-0_p20220103.ebuild
Due: test

dev-racket/typed-peg: drop old
  dev-racket/typed-peg/Manifest
  dev-racket/typed-peg/typed-peg-0_p20220219.ebuild
  dev-racket/typed-peg/typed-peg-0_p20220401.ebuild
Due: test

dev-racket/uwaterloo-racket-tools: drop old
  dev-racket/uwaterloo-racket-tools/Manifest
  dev-racket/uwaterloo-racket-tools/uwaterloo-racket-tools-0_p20210910.ebuild
Due: test

sys-apps/racket-compiler: use better compression URI
  sys-apps/racket-compiler/Manifest
  sys-apps/racket-compiler/racket-compiler-1.0.0.ebuild
Due: test

sys-apps/racket-where: use better compression URI
  sys-apps/racket-where/Manifest
  sys-apps/racket-where/racket-where-1.0.0-r2.ebuild
  sys-apps/racket-where/racket-where-1.0.2.ebuild
Due: test

sys-apps/racket-maints: use better compression URI
  sys-apps/racket-maints/Manifest
  sys-apps/racket-maints/racket-maints-1.1.0-r2.ebuild
  sys-apps/racket-maints/racket-maints-9999.ebuild
Due: test

2022-12-11 01:31:43 UTC
  metadata/md5-cache/dev-racket/br-parser-tools-0_p20210518
  metadata/md5-cache/dev-racket/brag-0_p20220115
  metadata/md5-cache/dev-racket/brag-0_p20220116
  metadata/md5-cache/dev-racket/css-tools-0_p20210518
  metadata/md5-cache/dev-racket/graphite-doc-0_p20210810
  metadata/md5-cache/dev-racket/peg-gen-0_p20220215
  metadata/md5-cache/dev-racket/pollen-tfl-0_p20220529
  metadata/md5-cache/dev-racket/pollen-tfl-0_p20220717
  metadata/md5-cache/dev-racket/txexpr-0_p20220103
  metadata/md5-cache/dev-racket/typed-peg-0_p20220219
  metadata/md5-cache/dev-racket/typed-peg-0_p20220401
  metadata/md5-cache/dev-racket/uwaterloo-racket-tools-0_p20210910
  metadata/md5-cache/sys-apps/racket-compiler-1.0.0
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/md5-cache/sys-apps/racket-where-1.0.0-r2
  metadata/md5-cache/sys-apps/racket-where-1.0.2
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

2022-12-14 10:33:01 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

licenses: add ODbL-1.0
  licenses/ODbL-1.0
Due: none

2022-12-27 16:49:27 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

metadata/layout.conf: ban EAPI 6
  metadata/layout.conf
Due: none

metadata/layout.conf: remove manifest settings
  metadata/layout.conf
Due: none

*: bump cr
  .gitlab-ci.yml
  Makefile
  scribblings/about.scrbl
  scribblings/build.sh
  scribblings/developers.scrbl
  scribblings/eclass.scrbl
  scribblings/eclass_scribblings.sh
  scribblings/gentoo-racket-overlay.scrbl
  scribblings/install.scrbl
  scribblings/users.scrbl
Due: test, pages

2023-01-03 09:04:10 UTC
  metadata/md5-cache/dev-scheme/racket-8.5_p20220705
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2023-01-07 15:02:51 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2023-01-10 17:48:06 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

.gitlab-ci.yml: add timeouts
  .gitlab-ci.yml
Due: test, pages

scribblings/eclass/racket.scrbl: regen
  scribblings/eclass/racket.scrbl
Due: pages

2023-01-14 11:33:03 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

Makefile: add autocommit
  Makefile
Due: test, pages

sys-apps/racket-where: bump to 1.0.3
  sys-apps/racket-where/Manifest
  sys-apps/racket-where/racket-where-1.0.3.ebuild
Due: test

eclass/racket-common.eclass: raco_test - take optional directory argument
  eclass/racket-common.eclass
Due: test

2023-01-27 00:16:56 UTC
  metadata/md5-cache/dev-racket/cs-bootstrap-0_p20230126
  metadata/md5-cache/dev-racket/drracket-tool-text-lib-0_p20230126
  metadata/md5-cache/dev-racket/expander-0_p20230126
  metadata/md5-cache/dev-racket/gref-0_p20230126
  metadata/md5-cache/dev-racket/gref-doc-0_p20230126
  metadata/md5-cache/dev-racket/gref-lib-0_p20230126
  metadata/md5-cache/dev-racket/gref-test-0_p20230126
  metadata/md5-cache/dev-racket/gui-easy-0_p20230125
  metadata/md5-cache/dev-racket/gui-easy-lib-0_p20230125
  metadata/md5-cache/dev-racket/metapict-0_p20230125
  metadata/md5-cache/dev-racket/plt-services-0_p20230126
  metadata/md5-cache/dev-racket/qi-0_p20230126
  metadata/md5-cache/dev-racket/qi-doc-0_p20230126
  metadata/md5-cache/dev-racket/qi-lib-0_p20230126
  metadata/md5-cache/dev-racket/qi-probe-0_p20230126
  metadata/md5-cache/dev-racket/qi-test-0_p20230126
  metadata/md5-cache/dev-racket/racket-build-guide-0_p20230126
  metadata/md5-cache/dev-racket/scribble-bettergrammar-0_p20230125
  metadata/md5-cache/dev-racket/scribble-bettergrammar-doc-0_p20230125
  metadata/md5-cache/dev-racket/scribble-bettergrammar-lib-0_p20230125
  metadata/md5-cache/dev-racket/syndicate-0_p20230125
  metadata/md5-cache/dev-racket/zuo-doc-0_p20230126
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

2023-01-28 22:17:52 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

Path conditions:
  test: any of: */*/*.ebuild, */*/Manifest, */*/metadata.xml, .gitlab-ci.yml, Makefile, eclass/*.eclass
  pages: any of: .gitlab-ci.yml, Makefile, scribblings/*.scrbl, scribblings/*/*.scrbl
