Repository gentoo-mirror/racket-overlay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  stage: test
  timeout: 20 minutes
  image: registry.gitlab.com/src_prepare/gentoo-repoman-container:latest
  before_script:
  - pkgcheck --version
  script:
  - make test

pages:
  stage: pages
  timeout: 5 minutes
  artifacts:
    expire_in: 1 week
    paths:
    - public
  image: racket/racket:8.6-full
  before_script:
  - apt-get update
  - apt-get install -y make sqlite3
  script:
  - make public

2025-05-01 11:57:24 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-05-02 04:42:18 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-05-06 17:57:41 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-05-08 12:57:27 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-05-08 19:25:06 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-05-10 13:09:45 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-05-10 20:25:10 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-06-04 02:27:25 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-06-25 04:54:53 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-06-29 03:41:48 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-07-05 07:41:10 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-07-12 05:26:04 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-07-14 19:13:03 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-07-18 04:55:24 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-07-25 06:10:35 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

gitlab-ci: format; use new racket image
  .gitlab-ci.yml
Due: test, pages

gitlab-ci: use docker.io/xgqt/ci-gentoo-tools image
  .gitlab-ci.yml
Due: test, pages

metadata/pkgcheck.conf: rewrite pkgcheck config
  metadata/pkgcheck.conf
Due: none

gitlab-ci: add metadata to changeset
  .gitlab-ci.yml
Due: test, pages

metadata/pkgcheck.conf: re-add profiles, ignore vcs-visible
  metadata/pkgcheck.conf
Due: none

dev-racket/udiff: treeclean
  dev-racket/udiff/Manifest
  dev-racket/udiff/metadata.xml
  dev-racket/udiff/udiff-0_p20250717.ebuild
  dev-racket/udiff/udiff-9999.ebuild
Due: test

excludes.rktd: add udiff
  excludes.rktd
Due: none

sys-apps/racket-maints: update PYTHON_COMPAT
  sys-apps/racket-maints/racket-maints-1.1.1-r1.ebuild
  sys-apps/racket-maints/racket-maints-9999.ebuild
Due: test

metadata/pkgcheck.conf: cleanup
  metadata/pkgcheck.conf
Due: none

sys-apps/racket-where: style
  sys-apps/racket-where/racket-where-1.0.3.ebuild
Due: test

2025-07-27 17:09:42 UTC
  metadata/md5-cache/dev-racket/udiff-0_p20250717
  metadata/md5-cache/dev-racket/udiff-9999
  metadata/md5-cache/sys-apps/racket-maints-1.1.1-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/md5-cache/sys-apps/racket-where-1.0.3
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

2025-08-09 17:08:07 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-08-20 22:36:59 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2025-09-06 07:22:28 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.1-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

Path conditions:
  test: any of: */*/*.ebuild, */*/Manifest, */*/metadata.xml, .gitlab-ci.yml, Makefile, eclass/*.eclass
  pages: any of: .gitlab-ci.yml, Makefile, scribblings/*.scrbl, scribblings/*/*.scrbl
