Repository gentoo-mirror/racket-overlay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  stage: test
  image: registry.gitlab.com/src_prepare/gentoo-repoman-container:latest
  before_script:
  - emerge --version ; pkgcheck --version
  script:
  - make test

pages:
  stage: pages
  artifacts:
    expire_in: 1 week
    paths:
    - public
  image: racket/racket:8.2-full
  before_script:
  - apt-get update
  - apt-get install -y make sqlite3
  script:
  - make doc

logo.png: add
  logo.png
Due: none

README.md: add logo
  README.md
Due: none

logo.png: clean
  logo.png
Due: none

eclass/gh.eclass: cleanup
  eclass/gh.eclass
Due: none

app-emacs/flycheck-racket-review: new package
  app-emacs/flycheck-racket-review/Manifest
  app-emacs/flycheck-racket-review/files/50flycheck-racket-review-gentoo.el
  app-emacs/flycheck-racket-review/flycheck-racket-review-2022.08.08.ebuild
  app-emacs/flycheck-racket-review/flycheck-racket-review-9999.ebuild
  app-emacs/flycheck-racket-review/metadata.xml
Due: test

2022-08-12 03:03:48 UTC
  metadata/md5-cache/app-emacs/flycheck-racket-review-2022.08.08
  metadata/md5-cache/app-emacs/flycheck-racket-review-9999
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

eclass/racket.eclass: fix bug with disabled _do_scrbl
  eclass/racket.eclass
Due: none

Quirks.md: add racket-where
  Quirks.md
Due: none

dev-racket/racket-where: drop; use sys-apps/racket-where
  dev-racket/racket-where/Manifest
  dev-racket/racket-where/metadata.xml
  dev-racket/racket-where/racket-where-2022.06.08.ebuild
  dev-racket/racket-where/racket-where-2022.07.02.ebuild
  dev-racket/racket-where/racket-where-9999.ebuild
Due: test

eclass/racket.eclass: add space to IUSE+
  eclass/racket.eclass
Due: none

eclass/racket.eclass: raco_docs_switch - subcommand -> update index
  eclass/racket.eclass
Due: none

*/*: migrate to new name-space
  .editorconfig
  .gitignore
  .gitlab-ci.yml
  .gitmodules
  Makefile
  README.md
  eclass/gh.eclass
  eclass/racket-common.eclass
  eclass/racket.eclass
  examples/package.accept_keywords/gentoo-racket-overlay.conf
  examples/repos.conf/gentoo-racket-overlay.conf
  examples/repos.conf/racket-overlay.conf
  metadata/pkgcheck.conf
  profiles/repo_name
  repositories.xml
  scribblings/about.scrbl
  scribblings/build.sh
  scribblings/developers.scrbl
  scribblings/gentoo-racket-overlay.scrbl
  scribblings/install.scrbl
  scribblings/users.scrbl
  sys-apps/racket-compiler/metadata.xml
  sys-apps/racket-compiler/racket-compiler-1.0.0.ebuild
  sys-apps/racket-maints/metadata.xml
  sys-apps/racket-maints/racket-maints-1.1.0-r1.ebuild
  sys-apps/racket-maints/racket-maints-9999.ebuild
  sys-apps/racket-where/metadata.xml
  sys-apps/racket-where/racket-where-1.0.0-r2.ebuild
  sys-apps/racket-where/racket-where-1.0.2.ebuild
Due: test, pages

gentoo-racket-overlay.conf: racket-overlay.conf -> gentoo-racket-overlay.conf
  gentoo-racket-overlay.conf
  racket-overlay.conf
Due: none

scribblings: add eclass
  scribblings/eclass.scrbl
  scribblings/eclass/gh.scrbl
  scribblings/eclass/racket-common.scrbl
  scribblings/eclass/racket.scrbl
  scribblings/eclass_scribblings.sh
Due: pages

scribblings: fix license info
  scribblings/about.scrbl
  scribblings/build.sh
  scribblings/developers.scrbl
  scribblings/eclass.scrbl
  scribblings/gentoo-racket-overlay.scrbl
  scribblings/install.scrbl
  scribblings/users.scrbl
Due: pages

scribblings/*.scrbl: replace code-block with a verbatim code-insert
  scribblings/developers.scrbl
  scribblings/users.scrbl
Due: pages

*: keep the name racket-overlay in portage config for older users
  Makefile
  examples/package.accept_keywords/racket-overlay.conf
  examples/repos.conf/racket-overlay.conf
  gentoo-racket-overlay.conf
  metadata/pkgcheck.conf
  profiles/repo_name
  racket-overlay.conf
  repositories.xml
  scribblings/about.scrbl
  scribblings/users.scrbl
Due: pages

profiles/package.mask: mask dev-racket/racket-where
  profiles/package.mask
Due: none

scribblings/build.sh: detect root_scribblings
  scribblings/build.sh
Due: none

excludes.rktd: add excludes file for new collector2 update
  Makefile
  excludes.rktd
Due: none

2022-08-18 22:31:51 UTC
  metadata/md5-cache/app-emacs/flycheck-racket-review-2022.08.08
  metadata/md5-cache/app-emacs/flycheck-racket-review-9999
  metadata/md5-cache/app-emacs/racket-fmt-format-2022.06.30
  metadata/md5-cache/app-emacs/racket-fmt-format-2022.07.27
  metadata/md5-cache/app-emacs/racket-fmt-format-9999
  metadata/timestamp.chk
Due: none

modifications.rkt: add
  Makefile
  modifications.rkt
Due: none

Makefile: proper path to modifications-file
  Makefile
Due: none

2022-08-24 05:03:04 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

app-emacs/racket-fmt-format: bump to 2022.08.23
  app-emacs/racket-fmt-format/Manifest
  app-emacs/racket-fmt-format/racket-fmt-format-2022.08.23.ebuild
Due: test

Makefile: drop olde versions
  Makefile
Due: none

Path conditions:
  test: any of: .gitlab-ci.yml, */*/*.ebuild, */*/Manifest, */*/metadata.xml
  pages: any of: .gitlab-ci.yml, scribblings/*.scrbl, scribblings/*/*.scrbl
