Repository gentoo-mirror/racket-overlay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

.gitlab-ci.yml:

---


# Original author: Maciej Barć <xgqt@riseup.net>
# Copyright (c) 2021-2022, Maciej Barć <xgqt@riseup.net>
# Licensed under the GNU GPL v2 License
# SPDX-License-Identifier: GPL-2.0


stages:
  - test
  - pages


test:
  stage: test

  image: registry.gitlab.com/src_prepare/gentoo-repoman-container:latest

  only:
    changes:
      - "*/*/*.ebuild"
      - "*/*/Manifest"
      - "*/*/metadata.xml"
      - .gitlab-ci.yml
      - Makefile
      - eclass/*.ebuild

  before_script:
    - emerge --version ; pkgcheck --version

  script:
    - make test


pages:
  stage: pages

  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - Makefile
      - scribblings/*.scrbl
      - scribblings/*/*.scrbl

  artifacts:
    expire_in: 1 week
    paths:
      - public

  image: racket/racket:8.5-full

  before_script:
    - apt-get update
    - apt-get install -y make sqlite3

  script:
    - make public

Makefile: format & cleanup; add EXCLUDES & MODS vars for COLLECTOR2_FLAGS
  Makefile
Due: test, pages

2022-08-30 19:16:42 UTC
  metadata/md5-cache/dev-racket/azelf-2022.08.30
  metadata/md5-cache/dev-racket/bazaar-2022.08.29
  metadata/md5-cache/dev-racket/cs-bootstrap-2022.08.28
  metadata/md5-cache/dev-racket/data-type-2022.08.26
  metadata/md5-cache/dev-racket/eclass2scrbl-2022.08.29
  metadata/md5-cache/dev-racket/errortrace-2022.08.26
  metadata/md5-cache/dev-racket/expander-2022.08.30
  metadata/md5-cache/dev-racket/metapict-2022.08.30
  metadata/md5-cache/dev-racket/ming-2022.08.29
  metadata/md5-cache/dev-racket/pict-abbrevs-2022.08.27
  metadata/md5-cache/dev-racket/plt-services-2022.08.30
  metadata/md5-cache/dev-racket/qcr-2022.08.29
  metadata/md5-cache/dev-racket/qi-2022.08.26
  metadata/md5-cache/dev-racket/qi-doc-2022.08.26
  metadata/md5-cache/dev-racket/qi-lib-2022.08.26
  metadata/md5-cache/dev-racket/qi-probe-2022.08.26
  metadata/md5-cache/dev-racket/qi-test-2022.08.26
  metadata/md5-cache/dev-racket/racket-build-guide-2022.08.30
  metadata/md5-cache/dev-racket/raco-pkg-env-2022.08.29
  metadata/md5-cache/dev-racket/raco-pkg-env-lib-2022.08.29
  metadata/md5-cache/dev-racket/recursive-language-2022.08.28
  metadata/md5-cache/dev-racket/recursive-language-9999
  metadata/md5-cache/dev-racket/routy-2022.08.30
  metadata/md5-cache/dev-racket/rparallel-2022.08.29
  metadata/md5-cache/dev-racket/russian-lang-2022.08.30
  metadata/md5-cache/dev-racket/sauron-2022.08.28
  metadata/md5-cache/dev-racket/upi-2022.08.29
  metadata/md5-cache/dev-racket/upi-doc-2022.08.29
  metadata/md5-cache/dev-racket/upi-lib-2022.08.29
  metadata/md5-cache/dev-racket/upi-test-2022.08.29
  metadata/md5-cache/dev-racket/zuo-doc-2022.08.30
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

scribblings/eclass: regen
  scribblings/eclass/gh.scrbl
  scribblings/eclass/racket-common.scrbl
  scribblings/eclass/racket.scrbl
Due: pages

scribblings/eclass/racket.scrbl: regen
  scribblings/eclass/gh.scrbl
  scribblings/eclass/racket-common.scrbl
  scribblings/eclass/racket.scrbl
Due: pages

Makefile: rewrite "public" recipe
  Makefile
Due: test, pages

Makefile: add recipe regenerating scribblings created from eclasses
  Makefile
Due: test, pages

Makefile: tweaks; add eix-udpate recipe
  Makefile
Due: test, pages

Makefile: update .PHONYs
  Makefile
Due: test, pages

req.json: add Req file
  req.json
Due: none

req.json: add eclass2scrbl to dev set
  req.json
Due: none

2022-09-07 08:26:25 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

Makefile: fix clean-versions module path
  Makefile
Due: test, pages

2022-09-09 01:25:14 UTC
  metadata/md5-cache/dev-racket/digimon-2022.09.07
  metadata/md5-cache/dev-racket/ee-lib-2022.09.08
  metadata/md5-cache/dev-racket/expander-2022.09.09
  metadata/md5-cache/dev-racket/extra-srfi-libs-2022.09.08
  metadata/md5-cache/dev-racket/fmt-2022.09.08
  metadata/md5-cache/dev-racket/ming-2022.09.07
  metadata/md5-cache/dev-racket/plt-services-2022.09.09
  metadata/md5-cache/dev-racket/racket-build-guide-2022.09.09
  metadata/md5-cache/dev-racket/req-2022.09.09
  metadata/md5-cache/dev-racket/req-doc-2022.09.09
  metadata/md5-cache/dev-racket/req-lib-2022.09.09
  metadata/md5-cache/dev-racket/req-test-2022.09.09
  metadata/md5-cache/dev-racket/upi-2022.09.07
  metadata/md5-cache/dev-racket/upi-doc-2022.09.07
  metadata/md5-cache/dev-racket/upi-lib-2022.09.07
  metadata/md5-cache/dev-racket/upi-test-2022.09.07
  metadata/md5-cache/dev-racket/ziptie-completion-2022.09.07
  metadata/md5-cache/dev-racket/ziptie-distro-2022.09.07
  metadata/md5-cache/dev-racket/ziptie-git-2022.09.07
  metadata/md5-cache/dev-racket/ziptie-make-2022.09.07
  metadata/md5-cache/dev-racket/ziptie-monorepo-2022.09.07
  metadata/md5-cache/dev-racket/zuo-doc-2022.09.09
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

app-emacs: change version scheme
  app-emacs/flycheck-racket-review/flycheck-racket-review-0_p20220808.ebuild
  app-emacs/racket-fmt-format/racket-fmt-format-0_p20220630.ebuild
  app-emacs/racket-fmt-format/racket-fmt-format-0_p20220727.ebuild
  app-emacs/racket-fmt-format/racket-fmt-format-0_p20220823.ebuild
Due: test

eclass/gh.eclass: GitLab updated snapshot URL paths
  eclass/gh.eclass
Due: none

.gitlab-ci.yml: fix eclass glob
  .gitlab-ci.yml
Due: test, pages

2022-10-07 09:04:38 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-10-10 21:05:41 UTC
  metadata/md5-cache/dev-scheme/racket-8.5_p20220613
  metadata/md5-cache/dev-scheme/racket-8.5_p20220617
  metadata/md5-cache/dev-scheme/racket-8.5_p20220705
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r1
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

Makefile: up
  Makefile
Due: test, pages

2022-10-20 06:32:36 UTC
  metadata/md5-cache/dev-racket/portage-admin-lib-0_p20220814
  metadata/md5-cache/dev-racket/portage-admin-lib-0_p20220903
  metadata/md5-cache/dev-racket/portage-admin-lib-9999
  metadata/md5-cache/dev-scheme/racket-8.5_p20220613
  metadata/md5-cache/dev-scheme/racket-8.5_p20220617
  metadata/md5-cache/dev-scheme/racket-8.5_p20220705
  metadata/timestamp.chk
Due: none

scribblings/developers.scrbl: use pkgdev and pkgcheck
  scribblings/developers.scrbl
Due: pages

scribblings/install.scrbl: update installation description
  scribblings/install.scrbl
Due: pages

README.md: fix spelling
  README.md
Due: none
