Repository gentoo-mirror/racket-overlay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  stage: test
  image: registry.gitlab.com/src_prepare/gentoo-repoman-container:latest
  script:
  - bash scripts/repomanci

pages:
  stage: pages
  artifacts:
    expire_in: 1 week
    paths:
    - public
  image: racket/racket:8.2-full
  script:
  - make doc

2021-11-05 13:36:22 UTC
  metadata/md5-cache/dev-racket/component-2021.11.05
  metadata/md5-cache/dev-racket/component-doc-2021.11.05
  metadata/md5-cache/dev-racket/component-lib-2021.11.05
  metadata/md5-cache/dev-racket/component-test-2021.11.05
  metadata/md5-cache/dev-racket/ebuild-2021.10.27
  metadata/md5-cache/dev-racket/ebuild-2021.11.05
  metadata/md5-cache/dev-racket/ebuild-doc-2021.11.05
  metadata/md5-cache/dev-racket/ebuild-lib-2021.11.05
  metadata/md5-cache/dev-racket/ebuild-templates-2021.11.05
  metadata/md5-cache/dev-racket/ebuild-test-2021.11.05
  metadata/md5-cache/dev-racket/ebuild-tools-2021.10.27
  metadata/md5-cache/dev-racket/ebuild-tools-2021.11.05
  metadata/md5-cache/dev-racket/ebuild-transformers-2021.11.05
  metadata/md5-cache/dev-racket/fmt-2021.11.05
  metadata/md5-cache/dev-racket/koyo-2021.11.05
  metadata/md5-cache/dev-racket/koyo-doc-2021.08.07
  metadata/md5-cache/dev-racket/koyo-doc-2021.11.05
  metadata/md5-cache/dev-racket/koyo-lib-2021.11.05
  metadata/md5-cache/dev-racket/koyo-test-2021.11.05
  metadata/md5-cache/dev-racket/mini-theme-2021.11.03
  metadata/md5-cache/dev-racket/qi-2021.10.16
  metadata/md5-cache/dev-racket/qi-2021.11.05
  metadata/md5-cache/dev-racket/quickscript-competition2020-2021.11.05
  metadata/md5-cache/dev-racket/racket-build-guide-2021.11.04
  metadata/md5-cache/dev-racket/racket-chipmunk-2021.11.04
  metadata/md5-cache/dev-racket/racket-lang-org-2021.11.04
  metadata/md5-cache/dev-racket/raco-static-web-2021.11.04
  metadata/md5-cache/dev-racket/russian-2021.11.03
  metadata/md5-cache/dev-racket/search-list-box-2021.11.03
  metadata/md5-cache/dev-racket/slack-archive-viewer-2021.11.05
  metadata/md5-cache/dev-racket/smtp-server-2021.11.04
  metadata/md5-cache/dev-racket/smtp-server-test-2021.11.04
  metadata/md5-cache/dev-racket/splitflap-2021.11.02
  metadata/md5-cache/dev-racket/splitflap-doc-2021.11.02
  metadata/md5-cache/dev-racket/splitflap-lib-2021.11.02
  metadata/md5-cache/dev-racket/syntax-parse-example-2021.11.05
  metadata/md5-cache/dev-racket/text-block-2021.11.05
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

dev-scheme/racket: tewaks
  dev-scheme/racket/racket-8.3_pre20211031.ebuild
Due: test

dev-scheme/racket: info update
  dev-scheme/racket/racket-8.3_pre20211031.ebuild
Due: test

2021-11-09 00:21:26 UTC
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211031
  metadata/timestamp.chk
Due: none

dev-scheme/racket: autodetect PLT_SNAP_DATE with _p and _pre
  dev-scheme/racket/racket-8.3_pre20211031.ebuild
Due: test

2021-11-09 00:36:41 UTC
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211031
  metadata/timestamp.chk
Due: none

2021-11-09 00:51:25 UTC
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211031
  metadata/timestamp.chk
Due: none

scribblings/users.scrbl: add link to Gentoo Wiki page about updates
  scribblings/users.scrbl
Due: pages

dev-scheme/racket: bump to 8.3_pre20211106
  dev-scheme/racket/Manifest
  dev-scheme/racket/racket-8.3_pre20211106.ebuild
Due: test

dev-scheme/racket: drop old
  dev-scheme/racket/Manifest
  dev-scheme/racket/racket-8.3_pre20211021.ebuild
  dev-scheme/racket/racket-8.3_pre20211031.ebuild
Due: test

2021-11-09 01:21:25 UTC
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211021
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211106
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

dev-racket/qi: remove dev-racket/relation dep
  dev-racket/qi/qi-2021.10.27.ebuild
  dev-racket/qi/qi-2021.11.02.ebuild
  dev-racket/qi/qi-2021.11.05.ebuild
  dev-racket/qi/qi-9999.ebuild
Due: test

Quirks.md: add
  Quirks.md
Due: none

eclass/racket.eclass: remove redundant die
  eclass/racket.eclass
Due: none

2021-11-10 00:21:33 UTC
  metadata/md5-cache/dev-racket/qi-2021.10.27
  metadata/md5-cache/dev-racket/qi-2021.11.02
  metadata/md5-cache/dev-racket/qi-2021.11.05
  metadata/md5-cache/dev-racket/qi-9999
  metadata/timestamp.chk
Due: none

eclass/racket.eclass: turn on SCRBL_DOCS by default and add PDF generation
  eclass/racket.eclass
Due: none

eclass/racket.eclass: eraco; multiprocessing
  eclass/racket.eclass
Due: none

eclass/racket.eclass: system and package docs + regen index on install
  eclass/racket.eclass
Due: none

eclass/racket.eclass: bash test
  eclass/racket.eclass
Due: none

eclass/racket.eclass: sort; format; add die to racket_fix_collection
  eclass/racket.eclass
Due: none

eclass/racket.eclass: remove docompress
  eclass/racket.eclass
Due: none

eclass/racket.eclass: reorder racket_src_compile; install launchers
  eclass/racket.eclass
Due: none

eclass/racket.eclass: jobs in racket_temporary_install and racket_src_compile
  eclass/racket.eclass
Due: none

eclass/racket.eclass: remove racket-compiler
  eclass/racket.eclass
Due: none

dev-racket/threading: fix Manifest
  dev-racket/threading/Manifest
Due: test

Quirks.md: add egg-herbie*
  Quirks.md
Due: none

Quirks.md: add nix
  Quirks.md
Due: none

Path conditions:
  test: any of: .gitlab-ci.yml, */*/*.ebuild, */*/Manifest, */*/metadata.xml
  pages: any of: .gitlab-ci.yml, scribblings/*.scrbl, scribblings/*/*.scrbl
