Repository gentoo-mirror/racket-overlay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

test:
  stage: test
  image: registry.gitlab.com/src_prepare/gentoo-repoman-container:latest
  script:
  - bash scripts/repomanci

pages:
  stage: pages
  artifacts:
    expire_in: 1 week
    paths:
    - public
  image: racket/racket:8.2-full
  script:
  - make doc

eclass/gh.eclass: format
  eclass/gh.eclass
Due: none

eclass/racket.eclass: format
  eclass/racket.eclass
Due: none

dev-scheme/racket: bump to 8.3_pre20211113
  dev-scheme/racket/Manifest
  dev-scheme/racket/racket-8.3_pre20211113.ebuild
Due: test

dev-scheme/racket: drop old 8.3_pre20211106
  dev-scheme/racket/Manifest
  dev-scheme/racket/racket-8.3_pre20211106.ebuild
Due: test

LICENSE.txt: LICENSE -> LICENSE.txt
  LICENSE.txt
Due: none

2021-11-15 00:36:25 UTC
  metadata/md5-cache/dev-racket/azelf-2021.09.23
  metadata/md5-cache/dev-racket/azelf-2021.10.01
  metadata/md5-cache/dev-racket/bazaar-2021.05.31
  metadata/md5-cache/dev-racket/ebuild-2021.10.28
  metadata/md5-cache/dev-racket/ebuild-doc-2021.10.28
  metadata/md5-cache/dev-racket/ebuild-lib-2021.10.28
  metadata/md5-cache/dev-racket/ebuild-templates-2021.10.28
  metadata/md5-cache/dev-racket/ebuild-test-2021.10.28
  metadata/md5-cache/dev-racket/ebuild-tools-2021.10.28
  metadata/md5-cache/dev-racket/ebuild-transformers-2021.10.28
  metadata/md5-cache/dev-racket/fmt-2021.10.27
  metadata/md5-cache/dev-racket/goblins-2021.07.18
  metadata/md5-cache/dev-racket/gui-easy-2021.10.01
  metadata/md5-cache/dev-racket/gui-easy-lib-2021.10.01
  metadata/md5-cache/dev-racket/metapict-2020.10.21
  metadata/md5-cache/dev-racket/preserves-2021.08.04
  metadata/md5-cache/dev-racket/quickscript-extra-2021.08.01
  metadata/md5-cache/dev-racket/racket-build-guide-2021.10.28
  metadata/md5-cache/dev-racket/racket-lang-org-2021.07.18
  metadata/md5-cache/dev-racket/rparallel-2021.03.15
  metadata/md5-cache/dev-racket/satore-2021.09.23
  metadata/md5-cache/dev-racket/sauron-2021.07.31
  metadata/md5-cache/dev-racket/sauron-2021.08.29
  metadata/md5-cache/dev-racket/search-list-box-2020.08.03
  metadata/md5-cache/dev-racket/smtp-server-2021.11.02
  metadata/md5-cache/dev-racket/smtp-server-test-2021.11.02
  metadata/md5-cache/dev-racket/text-block-2021.07.21
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

2021-11-15 02:05:44 UTC
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211113
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

dev-racket: autoupdate
  dev-racket/awesome-list/Manifest
  dev-racket/awesome-list/awesome-list-2021.11.15.ebuild
  dev-racket/awesome-list/awesome-list-9999.ebuild
  dev-racket/awesome-list/metadata.xml
  dev-racket/expander/Manifest
  dev-racket/expander/expander-2021.11.15.ebuild
  dev-racket/goblins/Manifest
  dev-racket/goblins/goblins-2021.11.15.ebuild
  dev-racket/gui-easy-lib/Manifest
  dev-racket/gui-easy-lib/gui-easy-lib-2021.11.15.ebuild
  dev-racket/gui-easy/Manifest
  dev-racket/gui-easy/gui-easy-2021.11.15.ebuild
  dev-racket/koyo-doc/Manifest
  dev-racket/koyo-doc/koyo-doc-2021.11.15.ebuild
  dev-racket/koyo-lib/Manifest
  dev-racket/koyo-lib/koyo-lib-2021.11.15.ebuild
  dev-racket/koyo-test/Manifest
  dev-racket/koyo-test/koyo-test-2021.11.15.ebuild
  dev-racket/koyo/Manifest
  dev-racket/koyo/koyo-2021.11.15.ebuild
  dev-racket/plt-services/Manifest
  dev-racket/plt-services/plt-services-2021.11.15.ebuild
  dev-racket/racket-build-guide/Manifest
  dev-racket/racket-build-guide/racket-build-guide-2021.11.15.ebuild
  dev-racket/racket-lang-org/Manifest
  dev-racket/racket-lang-org/racket-lang-org-2021.11.15.ebuild
Due: test

2021-11-16 00:06:52 UTC
  metadata/md5-cache/dev-racket/awesome-list-2021.11.15
  metadata/md5-cache/dev-racket/awesome-list-9999
  metadata/md5-cache/dev-racket/expander-2021.11.15
  metadata/md5-cache/dev-racket/goblins-2021.11.15
  metadata/md5-cache/dev-racket/gui-easy-2021.11.15
  metadata/md5-cache/dev-racket/gui-easy-lib-2021.11.15
  metadata/md5-cache/dev-racket/koyo-2021.11.15
  metadata/md5-cache/dev-racket/koyo-doc-2021.11.15
  metadata/md5-cache/dev-racket/koyo-lib-2021.11.15
  metadata/md5-cache/dev-racket/koyo-test-2021.11.15
  metadata/md5-cache/dev-racket/plt-services-2021.11.15
  metadata/md5-cache/dev-racket/racket-build-guide-2021.11.15
  metadata/md5-cache/dev-racket/racket-lang-org-2021.11.15
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

dev-scheme/racket: bump to 8.3_pre20211115
  dev-scheme/racket/Manifest
  dev-scheme/racket/racket-8.3_pre20211115.ebuild
Due: test

dev-scheme/racket: drop old 8.3_pre20211113
  dev-scheme/racket/Manifest
  dev-scheme/racket/racket-8.3_pre20211113.ebuild
Due: test

2021-11-22 01:06:31 UTC
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211115
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

dev-scheme/racket: bump to 8.3_pre20211119
  dev-scheme/racket/Manifest
  dev-scheme/racket/racket-8.3_pre20211119.ebuild
Due: test

2021-11-22 02:05:43 UTC
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211119
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

dev-scheme/racket: for now require threads for chez
  dev-scheme/racket/racket-8.3_pre20211115.ebuild
  dev-scheme/racket/racket-8.3_pre20211119.ebuild
Due: test

dev-scheme/racket: format
  dev-scheme/racket/racket-8.3_pre20211115.ebuild
  dev-scheme/racket/racket-8.3_pre20211119.ebuild
Due: test

2021-11-22 03:36:26 UTC
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211115
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211119
  metadata/timestamp.chk
Due: none

dev-scheme/racket: futures & places need threads
  dev-scheme/racket/racket-8.3_pre20211115.ebuild
  dev-scheme/racket/racket-8.3_pre20211119.ebuild
Due: test

2021-11-22 14:07:08 UTC
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211115
  metadata/md5-cache/dev-scheme/racket-8.3_pre20211119
  metadata/timestamp.chk
Due: none

eclass/racket.eclass: racket_copy_package
  eclass/racket.eclass
Due: none

sys-apps/racket-maints: new package; add version 1.1.0 and live
  sys-apps/racket-maints/Manifest
  sys-apps/racket-maints/metadata.xml
  sys-apps/racket-maints/racket-maints-1.1.0.ebuild
  sys-apps/racket-maints/racket-maints-9999.ebuild
Due: test

eclass/racket.eclass: racket_maybe_install_system_docs
  eclass/racket.eclass
Due: none

scribblings/users.scrbl: update Unmask section
  scribblings/users.scrbl
Due: pages

.gitlab-ci.yml: install make & sqlite3
  .gitlab-ci.yml
Due: test, pages

examples/package.use/racket.conf: enable more useful USE flags
  examples/package.use/racket.conf
Due: none

dev-racket: remove egg-herbie* (see Quirks.md)
  dev-racket/egg-herbie-linux/egg-herbie-linux-9999.ebuild
  dev-racket/egg-herbie-linux/metadata.xml
  dev-racket/egg-herbie-osx/egg-herbie-osx-9999.ebuild
  dev-racket/egg-herbie-osx/metadata.xml
  dev-racket/egg-herbie-windows/egg-herbie-windows-9999.ebuild
  dev-racket/egg-herbie-windows/metadata.xml
  dev-racket/egg-herbie/Manifest
  dev-racket/egg-herbie/egg-herbie-2021.07.24.ebuild
  dev-racket/egg-herbie/egg-herbie-2021.08.07.ebuild
  dev-racket/egg-herbie/egg-herbie-2021.09.18.ebuild
  dev-racket/egg-herbie/egg-herbie-9999.ebuild
  dev-racket/egg-herbie/metadata.xml
Due: test

2021-11-28 02:36:26 UTC
  metadata/md5-cache/dev-racket/egg-herbie-2021.07.24
  metadata/md5-cache/dev-racket/egg-herbie-2021.08.07
  metadata/md5-cache/dev-racket/egg-herbie-2021.09.18
  metadata/md5-cache/dev-racket/egg-herbie-9999
  metadata/md5-cache/dev-racket/egg-herbie-linux-9999
  metadata/md5-cache/dev-racket/egg-herbie-osx-9999
  metadata/md5-cache/dev-racket/egg-herbie-windows-9999
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

eclass/racket.eclass: update racket_pkg_postinst description
  eclass/racket.eclass
Due: none

dev-scheme/racket: bump
  dev-scheme/racket/Manifest
  dev-scheme/racket/racket-8.3_pre20211111.ebuild
  dev-scheme/racket/racket-8.3_pre20211127.ebuild
Due: test

dev-scheme/racket: drop old
  dev-scheme/racket/Manifest
  dev-scheme/racket/racket-8.3_pre20211115.ebuild
  dev-scheme/racket/racket-8.3_pre20211119.ebuild
Due: test

dev-scheme/racket: misc fixes
  dev-scheme/racket/racket-8.3_pre20211111-r1.ebuild
  dev-scheme/racket/racket-8.3_pre20211127-r1.ebuild
Due: test

dev-scheme/racket: PLT_SOURCES var
  dev-scheme/racket/racket-8.3_pre20211111-r1.ebuild
  dev-scheme/racket/racket-8.3_pre20211127-r1.ebuild
Due: test

Quirks.md: update
  Quirks.md
Due: none

Path conditions:
  test: any of: .gitlab-ci.yml, */*/*.ebuild, */*/Manifest, */*/metadata.xml
  pages: any of: .gitlab-ci.yml, scribblings/*.scrbl, scribblings/*/*.scrbl
