Repository gentoo-mirror/racket-overlay: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, pages

.gitlab-ci.yml:

---


# Original author: Maciej Barć <xgqt@riseup.net>
# Copyright (c) 2021-2022, Maciej Barć <xgqt@riseup.net>
# Licensed under the GNU GPL v2 License
# SPDX-License-Identifier: GPL-2.0


stages:
  - test
  - pages


test:
  stage: test

  image: registry.gitlab.com/src_prepare/gentoo-repoman-container:latest

  only:
    changes:
      - "*/*/*.ebuild"
      - "*/*/Manifest"
      - "*/*/metadata.xml"
      - .gitlab-ci.yml
      - Makefile
      - eclass/*.ebuild

  before_script:
    - emerge --version ; pkgcheck --version

  script:
    - make test


pages:
  stage: pages

  only:
    refs:
      - master
    changes:
      - .gitlab-ci.yml
      - Makefile
      - scribblings/*.scrbl
      - scribblings/*/*.scrbl

  artifacts:
    expire_in: 1 week
    paths:
      - public

  image: racket/racket:8.5-full

  before_script:
    - apt-get update
    - apt-get install -y make sqlite3

  script:
    - make public

Quirks.md: remove qi
  Quirks.md
Due: none

sys-apps/racket-maints: add DISTUTILS_USE_PEP517; fix src_prepare
  sys-apps/racket-maints/racket-maints-1.1.0-r2.ebuild
  sys-apps/racket-maints/racket-maints-9999.ebuild
Due: test

2022-10-28 18:17:46 UTC
  metadata/md5-cache/app-emacs/flycheck-racket-review-0_p20220808
  metadata/md5-cache/app-emacs/flycheck-racket-review-9999
  metadata/md5-cache/app-emacs/racket-fmt-format-0_p20220727
  metadata/md5-cache/app-emacs/racket-fmt-format-0_p20220823
  metadata/md5-cache/app-emacs/racket-fmt-format-0_p20220921
  metadata/md5-cache/app-emacs/racket-fmt-format-9999
  metadata/timestamp.chk
Due: none

metadata/pkgcheck.conf: update ignores
  metadata/pkgcheck.conf
Due: none

dev-scheme/racket: drop old
  dev-scheme/racket/Manifest
  dev-scheme/racket/racket-8.5_p20220613.ebuild
  dev-scheme/racket/racket-8.5_p20220617.ebuild
Due: test

profiles/package.mask: cleanup
  profiles/package.mask
Due: none

.gitlab-ci.yml: update image and before_script
  .gitlab-ci.yml
Due: test, pages

Revert "metadata/pkgcheck.conf: update ignores"
  metadata/pkgcheck.conf
Due: none

metadata/pkgcheck.conf: exit only on error
  metadata/pkgcheck.conf
Due: none

excludes.rktd: move excluded package descriptions from Quirks.md to excludes.rktd
  Quirks.md
  excludes.rktd
Due: none

excludes.rktd: exclude ekans
  excludes.rktd
Due: none

excludes.rktd: unban optimization-coach and words, soft-exclude racket-where
  dev-racket/optimization-coach/Manifest
  dev-racket/optimization-coach/metadata.xml
  dev-racket/optimization-coach/optimization-coach-0_p20211011.ebuild
  dev-racket/optimization-coach/optimization-coach-9999.ebuild
  dev-racket/quad/Manifest
  dev-racket/quad/metadata.xml
  dev-racket/quad/quad-0_p20221018.ebuild
  dev-racket/quad/quad-9999.ebuild
  dev-racket/rpp/Manifest
  dev-racket/rpp/metadata.xml
  dev-racket/rpp/rpp-0_p20220831.ebuild
  dev-racket/rpp/rpp-9999.ebuild
  dev-racket/rsharp/Manifest
  dev-racket/rsharp/metadata.xml
  dev-racket/rsharp/rsharp-0_p20220728.ebuild
  dev-racket/rsharp/rsharp-9999.ebuild
  dev-racket/words/Manifest
  dev-racket/words/metadata.xml
  dev-racket/words/words-0_p20220816.ebuild
  dev-racket/words/words-9999.ebuild
  excludes.rktd
Due: test

2022-11-04 08:01:57 UTC
  metadata/md5-cache/dev-racket/optimization-coach-0_p20211011
  metadata/md5-cache/dev-racket/optimization-coach-9999
  metadata/md5-cache/dev-racket/quad-0_p20221018
  metadata/md5-cache/dev-racket/quad-9999
  metadata/md5-cache/dev-racket/rpp-0_p20220831
  metadata/md5-cache/dev-racket/rpp-9999
  metadata/md5-cache/dev-racket/rsharp-0_p20220728
  metadata/md5-cache/dev-racket/rsharp-9999
  metadata/md5-cache/dev-racket/words-0_p20220816
  metadata/md5-cache/dev-racket/words-9999
  metadata/pkg_desc_index
  metadata/timestamp.chk
Due: none

2022-11-26 21:18:02 UTC
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-12-06 06:04:07 UTC
  metadata/md5-cache/dev-scheme/racket-8.5_p20220705
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

2022-12-06 22:03:57 UTC
  metadata/md5-cache/dev-scheme/racket-8.5_p20220705
  metadata/md5-cache/sys-apps/racket-maints-1.1.0-r2
  metadata/md5-cache/sys-apps/racket-maints-9999
  metadata/timestamp.chk
Due: none

dev-racket/br-parser-tools: drop old
  dev-racket/br-parser-tools/Manifest
  dev-racket/br-parser-tools/br-parser-tools-0_p20210518.ebuild
Due: test

dev-racket/brag: drop old
  dev-racket/brag/Manifest
  dev-racket/brag/brag-0_p20220115.ebuild
  dev-racket/brag/brag-0_p20220116.ebuild
Due: test

dev-racket/css-tools: drop old
  dev-racket/css-tools/Manifest
  dev-racket/css-tools/css-tools-0_p20210518.ebuild
Due: test

dev-racket/graphite-doc: drop old
  dev-racket/graphite-doc/Manifest
  dev-racket/graphite-doc/graphite-doc-0_p20210810.ebuild
Due: test

dev-racket/peg-gen: drop old
  dev-racket/peg-gen/Manifest
  dev-racket/peg-gen/peg-gen-0_p20220215.ebuild
Due: test

dev-racket/pollen-tfl: drop old
  dev-racket/pollen-tfl/Manifest
  dev-racket/pollen-tfl/pollen-tfl-0_p20220529.ebuild
  dev-racket/pollen-tfl/pollen-tfl-0_p20220717.ebuild
Due: test
